* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

header {
    display: flex;
    justify-content: end;
    align-items:center;
    background-color: #f0f4fa;
    padding: 20px 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 150px;
    justify-content: start;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-left: auto;
  }

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    color: #007bff;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons a {
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
}

.login {
    color: #007bff;
    border: 2px solid #007bff;
}

.cadastro {
    background-color: #007bff;
    color: white;
}


main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 100px;
    background: linear-gradient(180deg, #f0f4fa, #fff);
}

.hero {
    max-width: 900px;
    padding: 0 20px;
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #666;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    align-items: center;
}

.doe-agora {
    background-color: #007bff;
    color: white;
    padding: 15px 30px;
    border-radius:50px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
}

.preciso-doacao {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
}

span {
    margin-right: 15px;
}

.image-section img {
    max-width: 500px;
}

@media (max-width: 900px) {
    main {
        flex-direction: column;
        text-align: center;
        padding: 40px;
    }

    .image-section img {
        margin-top: 20px;
    }

    .hero h1, .hero h2 {
        font-size: 50px;
    }

    .hero p {
        font-size: 16px;
    }

    .buttons {
        flex-direction: column;
    }

    .doe-agora, .preciso-doacao {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .image-section img {
        max-width: 900px; /* Aumenta o tamanho máximo da imagem */
        width: 100%;      /* Faz com que a imagem ocupe todo o espaço disponível até o limite do max-width */
        height: auto;     /* Mantém a proporção da imagem */
    }
nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end; /* adiciona essa linha */
}
}
